



<div th:fragment="index-content">
   
   
    <!-- Somenath Das on24-04  -->
   <h1>Welcome to the Index Page!</h1>
	<p th:if="${session.userEmail}">
    Logged in as: <span th:text="${session.userEmail}"></span>
	</p>

    <!-- Redirect logic if session is empty (Client-side fallback) -->
    <div th:if="${session.userEmail == null}">
        <p>Session not found. Redirecting...</p>
        <script>window.location.href = '/login';</script>
    </div>
 
    
    
    
    
    
     <div class="product-container">
        <div th:each="product : ${products}" class="product-card">
            <!-- Product Image - Clicking it redirects to cart -->
            <!-- <a th:href="@{/shop/addToCart(name=${product.name}, price=${product.price})}">-->
            
            <a th:href="@{/addToCart(name=${product.name}, price=${product.price})}">
              <!--   <img th:src="@{'/product-images/' + ${product.imageName}}" -->
                 <img th:src="@{'/product-images/' + ${product.imagePath}}" 
                     alt="Product Image" style="width:150px; height:auto; cursor:pointer;">
            </a>
            
            <h3 th:text="${product.name}">Product Name</h3>
            <p th:text="'$' + ${product.price}">$0.00</p>
        </div>
    </div>

<p>To Login and Registration:? <a th:href="@{/login}"> Log In</a></p>
 <p>Add Product? <a th:href="@{/add-product}">Add Product</a></p>
     
</div>