<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Login</title>


<link rel="stylesheet" th:href="@{/css/header_footer_side_bar.css}">



</head>
<body>
   <!--   <div th:replace="~{fragments :: header}"></div>-->
   <div th:replace="~{fragments/common :: header}"></div>
    <div style="display: flex;">
       <!--  <div th:replace="~{fragments :: sidebar}"></div>-->
        <div th:replace="~{fragments/common :: sidebar}"></div>
        <main>
            <h2>Login</h2>
            
            <form th:action="@{/login}" method="post">
             	 <input type="email" name="email" required /> 
             	  <input type="password" name="password" required />
                <!-- <input type="email" name="email" placeholder="email" required />
                <input type="password" name="password" placeholder="password" required />-->
                
                <button type="submit">Sign In</button>
            </form>
            
            <div th:if="${error}" style="color: red; margin-bottom: 10px;">
    			<p th:text="${error}"></p>
			</div>
			
			<div style="background-color: #f8f9fa; border: 1px solid #dee2e6; color: #495057; padding: 15px; border-radius: 8px; font-family: sans-serif; max-width: 300px; margin: 10px 0; font-size: 14px; line-height: 1.5;">
              <strong style="display: block; margin-bottom: 5px; color: #212529;">Defaults Login Credentials:</strong>
  				<p style="margin: 0;">Email: <span style="font-family: monospace; background: #e9ecef; padding: 2px 4px; border-radius: 3px;">guest@guest.com</span></p>
  				<p style="margin: 0;">Password: <span style="font-family: monospace; background: #e9ecef; padding: 2px 4px; border-radius: 3px;">guest1234</span></p>
			</div>
			
            <p>New here? <a th:href="@{/register}">Register now</a></p>
        </main>
    </div>
  <!--  <div th:replace="~{fragments :: footer}"></div>-->
  
  <div th:replace="~{fragments/common :: footer}"></div>
</body>
</html>
