<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet" th:href="@{/css/header_footer_side_bar.css}">


</head>
<body>
    <!-- Header Fragment -->
    <header th:fragment="header">
        <h1>My Website Header</h1>
    </header>

    <!-- Sidebar Fragment (Your specific code) -->
    <nav th:fragment="sidebar">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/product}">Product</a></li>
            <li><a th:href="@{/store}">Store</a></li>
            <!-- 
            <li><a th:href="#">Online Segments</a></li>
            <li><a th:href="#">Play Game</a></li>
            -->
            <li><a th:href="@{/merchandise}">Merchandise</a></li>
            <li><a th:href="@{/oldItems}">Old Item</a></li>
            <li><a th:href="@{/dropBox}">Dropbox</a></li>
        </ul>
    </nav>

    <!-- Footer Fragment -->
    <footer th:fragment="footer">
        <p>&copy; 2026 My Spring Boot Project</p>
    </footer>
</body>
</html>
