<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Product</title>
    
    <link rel="stylesheet" th:href="@{/css/upload_productCss.css}">
</head>
<body>
    <h2>List a New Product</h2>
    <div class="form-container">
    <!--<form th:action="@{/save-product}" th:object="${product}" method="post">-->
    <form th:action="@{/save-product}" th:object="${product}" method="post">
        <div>
            <label>Product Name:</label>
            <input type="text" th:field="*{name}" required />
        </div>
        <div>
            <label>Price:</label>
            <input type="number" step="0.01" th:field="*{price}" required />
        </div>
        <div>
            <label>Image Filename (e.g., shirt.jpg):</label>
            <input type="text" th:field="*{imagePath}" required />
        </div>
        <button type="submit">Submit Product</button>
    </form>
   </div>
    
    <div th:if="${param.success}">
        <p style="color: green;">Product added successfully! and add another Product</p>
    </div>
    
    <div class="action-box">
    <p>Add Product? <a th:href="@{/add-product}">Add Product</a></p>
    <p>To Login and Registration: <a th:href="@{/login}">Log In</a></p>
    </div>

</body>
</html>
